extends layout

include _includes/sharedHTMLfunctions

block content
	.row.page-header
		.col-lg-12
			h1= locations.name
	.row
		.col-xs-12.col-md-9
			.row
				.col-xs-12.col-sm-6
					p-rating
						+outputRating(locations.rating)
						p= locations.address
						.panel.panel-primary
							.panel-heading
								h2.panel-title Opening hours
							.panel-body
								each open in locations.opening
									p= open
						.panel.panel-primary
							.panel-heading
								h2.panel-title Facilities
							.panel-body
								each facility in locations.facilities
									span.label.label-warning
										span.glyphicon.glyphicon-ok= facility
				.col-xs-12.col-sm-6.location-map
					.panel-panel-primary
						.panel-heading
							h2.panel-title Location Map
						.panel-body
							img.img-responsive.img-rounded(src= locations.mapUrl)
				.row
					.col-xs-12
						.panel-panel-primary.review-panel
							.panel-heading
								a.btn.btn-default.pull-right(
									href='location/review/new') Add Review
								h2.panel-title Customer reviews
							.panel-body.review-container
								.row
									.review
										each author in reviews.authors
											.well.well-sm.review-header
												span.rating
													+outputRating(author.rating)
												span.reviewAuthor= author.name
												small.reviewTimesstamp= author.date
											.col-xs-12
												p= author.comment
		.col-xs-12.col-md-3
			p.lead= sidebar